/* место для вашего кода */
/* Header ==========================================================================*/
.header {
	display: flex;
	align-items: center;
	gap: 36px;
	padding: 92px 24px 96px 24px;
}

.header__list {
	display: flex;
	gap: 34px;
	padding-left: 26px;
	color: #000000;
	font-size: 18px;
	text-underline-offset: 3px;
	list-style: circle;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__list-item-link_active {
	text-decoration: none;
}

.header__address {
	margin-left: auto;
	padding-right: 61px;
}
.address__list {
	color: #000000;
	font-size: 18px;
	font-style: normal;
	text-underline-offset: 4px;
	list-style: none;
	line-height: 1.33;
}
/* Конец Header =========================================================================== */
